:where(html) {
  --font-size-700: #{$font-size-700};
  --font-size-600: #{$font-size-600};
  --font-size-400: #{$font-size-400};
  --font-size-300: #{$font-size-300}; 
  --font-size-200: #{$font-size-200};
  --font-size-100: #{$font-size-100};
}

@media (min-width: $breakpoint-m) {
  :where(html) {
    --font-size-700: #{$font-size-800};
    --font-size-600: #{$font-size-700};
    --font-size-400: #{$font-size-600};
    --font-size-300: #{$font-size-400}; 
    --font-size-200: #{$font-size-300};
    --font-size-100: #{$font-size-200};
  }
}